zsh/local.zsh
history/.git/
history/history*
bin/rfgit
docker/host.zsh
*.DS_Store

#Sublime Shit
st3/Packages/User/Package Control.cache/
st3/Packages/User/Projects/
st3/Packages/User/Package Control.last-run